<!DOCTYPE html>
<html>
    <head>
        <title>Search Page</title>
    </head>
    <body>
        <h1>Search Page</h1>
        <p>This is the search results page: any search information would be displayed here.</p>
    </body>
</html>
